body{padding: 0;
margin: 0;
overflow:auto;
margin-right:0 ;
}
.container{
    margin:0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    max-width:2000px ;}

.headerSection{background-image: url("assets/backgrounds/h_img.jpg");
    height: 800px;
    width: 100%;    
    background-size: 100% 100%;    
    background-repeat:no-repeat;
    
}

.Dlogo{margin-left: auto;
margin-right: auto;
display: block;
padding-top:240px ;


}

p.textHeader{margin-right: 0;
    margin-left: 0;
    padding: 35px;
    text-align: center;
color: whitesmoke;
font-size: 46px;}

.textHeader2{font-size: 12px;
    color:white;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    display: block;
    margin-top: -60px;
    
    
}

.mouselogo{margin-left: auto;
margin-right: auto;
display: block;
margin-top: 49px;
padding:150px}

.middleSection{text-align: center;}
.pmiddleSection{font-size:18px}

.keyboardImage{background-image: url("assets/backgrounds/s_image.jpg");
background-size: 100% 100%;
background-repeat: no-repeat;
height: 250px;
margin: 0;
padding: 0;
}

div p.keyboardImageText{margin: 0;
    padding: 0;
margin-left: 0;
margin-top: 80px;
text-align:center ;
color: whitesmoke;}

.footerImage{background-image: url("assets/backgrounds/c_image.jpg");
height: 100%;
background-repeat: no-repeat;}

::placeholder{color:whitesmoke;
padding: 10px;}
.form-control{color: white;
background: transparent;}
.form-control::placeholder { color: white;}
:-ms-input-placeholder.form-control { color: white; }  
.form-control::-ms-input-placeholder { color: white; }  

.hideDesign{display: none;}
.hideDevelopment{display: none;}
.hideProduct{display: none;}

h6{cursor: pointer;}


@media screen and(max-width: 700px){.Dlogo{padding-left: -11500px;}}



















